.navbar {
  background-color: #6f4e3742 !important;
}
.navbar .navbar-brand {
  color: #37656f !important;
  font-weight: bold;
  font-size: 3 rem;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar h6 {
  margin-top: 0px;
  margin-right: 20px;
}
.nav-item button{
  background-color: rgb(167, 65, 28);
}